

<script type="text/javascript">
  $(document).ready( function () {
      // jQuery.getJSON('../data/dailydata.txt', function(data) {
         jQuery.getJSON('/dashboard/daily_bars', function(data) {
          dailychart(data.data);
		});
     });
</script>

<div id='daily-bars' class='graph' style='width: 680px; height: 150px; margin: 20px;'></div>

