
  <div class="clear"></div>

  <%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),w[0]]}) %>
  <div class="clear"></div>
  <h2>My Team Stats </h2>
  <br/>

  <div id="ajax_week">
    <p>If you do not see your agents breakdown here - please check that javascript is turned on</p>
  </div>


