
  <div class="clear"></div>

  <%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),w[0]]}) %>
  <div class="clear"></div>
  <h2>My Team Stats </h2>
  <br/>

  <div id="ajax_week">
    <%= render(:partial => "manager_week", :object => [(params[:id] || @weeks[0][0]).to_i ,2010]) %>
  </div>


