

  <div class="green-message">
    <b style="float: right" class="hide"> X </b>

    <!-- TODO: Use Partials-->
    <% if @user.should_worry? then %>
      <%  @user.group.developers.each do |dev| %>
        <%if line = green_message(dev)  then %>
          <%= line %> <BR/>
        <%end%>
      <%end%>
    <%else%>
      <%= "Your team is Working Great"%>
    <%end%> 

  </div>

  <div class="red-message">
  <b style="float: right" class="hide"> X </b>
  Still not in the office: <b>Jim Beam </b>

</div>

<div id="group_line">
 <a>PM</a>
 <a>Docs </a>
 <a>CCPM </a>
</div>	


 <div class="clear"></div>
   <%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),w[0]]}) %>
  <h2>My Team Stats </h2>
 <br/>

  <div id="ajax_week">
	<p> My Team Data for the week </p>
  </div>


