  <div id="outliers">
    <a href="#" class="hide"></a>
    <!-- TODO: Use Partials-->
    <% if @user.should_worry? then %>
      <h3> During Last two weeks</h3>
      <br/>
	  <ul>
      <%  @group.alerts.each_pair do |dev_name, message| %>
        <li><%= "<b> #{dev_name} </b> #{message} " %></li>
      <%end%>
	  </ul>
    <%else%>
      <%= "Your team is Working Great" %>
    <%end%> 
  </div> <!-- end #outliers -->

	<!-- 
	<div class="red-message">
	  <b style="float: right" class="hide"> X </b>
	  Still not in the office: <b>Jim Beam </b>
	</div>
	-->

	<div class="clear"></div>

	<div class="time-range">
		<%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),'week_'+w[0].to_s]}) %>
		<label>Week:</label>
	</div> <!-- end .time-range -->

	<h2>My Team Stats</h2>

	<div id="ajax_week">
	<!-- <p> My Team Data for the week </p> -->
	</div> <!-- end #ajax_week -->


