
<div id="group_line">
  <ul id="group_list">
  <% @user.groups.each do |group| -%>
    <li  id=<%=group.id%>> <a class="group_link"><%= group.name%></a></li>
  <% end-%>
  </ul>
</div>
<br/>
<div class="clear"></div>
  <%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),w[0]]}) %>
  <h2><%= %> </h2>
<br/>

<!-- TODO: DRY violation - different partials for xhr and html calls-->
 <div id="ajax_week">

 </div>
