<html>
  <head>
    <title> Forgot to register? </title>
  </head>
  <body>
    <h3> Hmm... looks like your forgot to register. Hey - don't your forgot your head as well?  </h3>
    <p> Use the form below - and listen - don't cheat OK? </p>
    <%= @time %>

       
  </body>
</html>
