/**********************************************************/
/*                                                        */
/*      stylesheet: Enkata EntryPoint                     */
/*      author: Ivan Babko (www.IvanBabko.com)            */
/*                                                        */
/**********************************************************/


/*----------------------------------------------------------
                          @RESET
-----------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,
form,fieldset,legend,input,button,textarea,th,td,article,
aside,figure,footer,header,hgroup,nav,section {margin:0; padding:0;}
article,aside,figure,footer,header,hgroup,nav,section {display:block;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
ul {list-style:none;}
a:focus {outline:none;}
html {overflow-y:scroll;}

/*----------------------------------------------------------
                          @GENERAL
-----------------------------------------------------------*/
body {
	background:#c6c9cc url(/images/bg.jpg);
	font:12px/1.3 Arial, Helvetica, sans-serif;
	color:#444;
	text-align:center;
	}

a {
	color:#666; 
	text-decoration:none;
	}
	a:hover {color:#000;}
	a:active {
		position:relative;
		top:1px;
		}
	
.left	{float:left;}
.right {float:right;}
.clear {clear:both;}

#container {
	width:800px;
	margin:20px auto 0;
	text-align:left;
	}
	

/*----------------------------------------------------------
                           @TOP
-----------------------------------------------------------*/
#top {
	width:100%;
	overflow:hidden;
	position:relative;
	margin:0 0 20px;
	text-shadow:1px 1px #ddd;
	}
		

	/* TOOLBAR (Settings, Sign out)
	---------------------------------------- */
	#tools{
		float:right;
		margin-right:20px;
		}
		#tools li {
			float:left;
			margin-left:20px;
			display:inline;
			}
			#tools li a {
				color:#444;
				padding:3px 0 3px 20px;
				font-weight:bold
				}
				#tools li a:hover {color:#000;}
				#tools li.checkin a {padding-left:22px; background:url(/images/check-in-toolbar.png) center left no-repeat;}
				#tools li.settings a {padding-left:20px; background:url(/images/settings.png) center left no-repeat;}
				#tools li.sign-out a {padding-left:17px; background:url(/images/sign-out.png) center left no-repeat;}


	
/*----------------------------------------------------------
                           @HEADER
-----------------------------------------------------------*/
#header {
	width:798px;
	height:75px;
	line-height:75px;
	position:relative;
	background:#fff url(/images/header.png) repeat-x bottom;
	color:#333;
	text-shadow:1px 1px #fff;
	border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.25);
	border:1px solid #999b9e;
	border-bottom:1px solid #babdc1;
	}

	/* User name
	---------------------------------------- */
	#header h1 {
		font-size:24px;
		letter-spacing:-1px;
		padding-left:45px;
		color:#333;
		background:url(/images/h1.png) center left no-repeat;
		float:left;
		margin-left:20px;
		}

	/* Navigation (My Attendance, My Team)
	---------------------------------------- */	
	#nav {
		width:242px;
		height:26px;
		float:left;
		margin:25px 0 0 20px;
		}
		#nav li {
			float:left;
			display:inline;
			}
			#nav li a {
				display:block;
				width:70px;
				height:26px;
				line-height:25px;
				text-align:center;
				font-weight:bold;
				background-image:url(/images/nav.png);
				color:#444;
				}	
				#nav li a:hover {color:#111;}
				
				/* My Attendance button*/
				#nav li.dashboard a {
					background-position:top left;
					}
					#nav li.dashboard a:active {
						position:static;
						background-position:center left;
						}
						
				/* My Team button */
				#nav li.manage a {
					background-position:top right;
					border-left:1px solid #a9a9a9;
					}
					#nav li.manage a:active {
						position:static;
						background-position:center right;
						}
				
				/*Highlight current button */
				#index #nav li.dashboard a,
				#manage #nav li.manage a {
					color:#fff;
					text-shadow:none;
					cursor:default;
					}
					#index #nav li.dashboard a {background-position:bottom left;}
					#manage #nav li.manage a {background-position:bottom right;}
										
				
				
/*----------------------------------------------------------
                  @MANUAL CHECK-IN BUTTON
-----------------------------------------------------------*/
/* <a id="check-in" href="#"><span>Check-in manually</span></a> */
#header #check-in-btn {
	display:block;
	width:145px;
	height:30px;
	line-height:29px;
	background:#fff;
	font-weight:bold;
	border:1px solid #999;
	box-shadow:0 1px 3px #999;
	-moz-box-shadow:0 1px 3px #999;
	-webkit-box-shadow:0 1px 3px #999;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	padding:0;
	margin:19px 20px 0 20px;
	float:right;
	color:#444;
	background:#fff url(/images/check-in-bg.png) repeat-x;
	}
	#check-in-btn span {
		margin-left:10px;
		padding-left:20px;
		background:url(/images/check-in.png) center left no-repeat;
		}


/*----------------------------------------------------------
                            @MAIN
-----------------------------------------------------------*/
#main {
	background:#fff;
	padding:20px 20px 20px;
	border:1px solid #999b9e;
	border-top:0;
	border-bottom:0;
	/*
	border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:0;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	*/
	box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.25); 
	}
	.wrap {
		width:100%;
		overflow:visible;
		}




/*----------------------------------------------------------
                        @REPORT LAYOUT
-----------------------------------------------------------*/
	
	/* General stuff
	---------------------------------------- */
	.report {
		position:relative;
		margin:0 0 30px;
		}
		h2 {
			font-size:24px;
			/*font-weight:normal;*/
			color:#333;
			letter-spacing:-1px;
			line-height:1;
			margin:0 0 5px;
			}
			.info {
				position:absolute;
				top:5px;
				right:0;
				line-height:24px;
			}
	
	/* Today and This Week reports
	---------------------------------------- */
	.box {
		background:#f4f4f4 url(/images/login.png) repeat-x top;
		border:1px solid #ccc;
		padding:15px 0 15px 80px;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		text-shadow:1px 1px white;
		}
		.inner {
			width:100%;
			overflow:hidden;
			}
		.box h3 {
			font-size:26px;
			color:#333;
			line-height:1;
			}
			h3 small {
				font-size:.6em;
				font-weight:normal;
				}
		.progress {
			width:200px;
			height:15px;
			padding:1px;
			margin:3px 0;
			background:#fff;
			border:1px solid #999;
			}
			.progress div {
				height:100%;
				background:#427fc3 url(/images/progress.png) repeat-x;
				}
				.progress .red {background:#af2525 url(/images/progress-red.png) repeat-x;}
				.progress .yellow {background:#f69d00 url(/images/progress-yellow.png) repeat-x;}
				.progress .green {background:#4aa70c url(/images/progress-green.png) repeat-x;}
	
	.today,.this-week {width:366px;}
	.today {float:left;}
	.this-week {float:right;}
	
	.oops {
		padding-top:40px;
		padding-bottom:40px;
		}
	
	/* General bar chart settings
	---------------------------------------- */
	.chart-container {
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	.graph {
		border-bottom:1px solid #999;
		width:100%;
		height:100%;
		}
	img.ajax-loader {
		position:absolute;
		top:50%;
		left:50%;
		margin:-9px 0 0 -110px;
		display:none;
		}
	
	/* Daily Stats (bar chart) report on personal dashboard 
	---------------------------------------- */
	.daily {
		margin-bottom:0;
		}
		.chart-head {
			background:#444 url(/images/button.png) repeat-x;
			height:30px;
			line-height:30px;
			}
			.chart-head h3 {
				font-size:14px;
				color:#fff;
				text-align:center;
				margin:0 auto;
				width:160px;
				}
			.chart-head a {
				display:block;
				width:20px;
				height:19px;
				margin-top:5px;
				}
				.chart-head a:active {
					position:relative;
					top:1px;
					}
				#scrollF {
					background:url(/images/scrollF.png) no-repeat top left;
					float:right;
					}
				#scrollB {
					background:url(/images/scrollB.png) no-repeat top left;
					float:left;
					}

		.daily .inner {
			border:1px solid #e5e5e5;
			border-top:0;
			overflow:visible;
			padding:25px 0 15px;
			background:#f5f5f5;
			position:relative;
			width:756px;
			}
			.daily .chart-container {
				width:700px;
				height:160px;
				}
		.legend {
			border:1px solid #ccc;
			background:#fff;
			margin:30px auto 0;
			width:402px;
			overflow:hidden;
			font-size:10px;
			padding:5px 0;
			color:#333;
			border-radius:6px;
			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			}
			.legend li {
				float:left;
				padding-left:15px;
				position:relative;
				margin:0 10px;
				}
				.legend li.last {
					margin-right:0;
					}
				.legend li div {
					width:10px;
					height:9px;
					position:absolute;
					top:2px;
					left:0;
					}
					.legend li.red div {background:#8b0000;}
					.legend li.yellow div {background:#ffc000;}
					.legend li.green div {background:#509721;}
					.legend li.grey div {background:#ccc;}
			
	
	/* Weekly Stats report (Weekly Table)
	---------------------------------------- */
	
	/* Weekly report on personal dashboard */
	.column-week {width:300px;}
		
	/* Weekly report on Manage/Overview */
	.team-weekly {margin-bottom:0;}
	.team-weekly th.column-week {width:100px;}
	.team-weekly th.column-name {width:200px;}
	td.chart {
		padding:40px 20px;
		}
		.team-weekly .chart-container {
			width:670px;
			height:150px;
			}
	.link_to_chart,
	.collapse_chart {
		cursor:pointer;
		width:50px;
		}
	th img {
		vertical-align:middle;
		display:block;
		margin:0 auto;
		}
	
/*----------------------------------------------------------
                       @TABLE STYLING
-----------------------------------------------------------*/
table {
	width:99.9%;
	margin-left:1px;
	}
	th,td {
		padding:7px 5px;
		text-align:center;
		}
	th {
		color:#fff;
		background:#444 url(/images/button.png) repeat-x;
		border-right:1px solid #444;
		border-left:1px solid #666;  
		}
	td {
		border: 1px solid #e5e5e5;
		border-top:0;
		}
	tr.alt td {
		background:#f5f5f5;
		/*border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;*/
		}
	tr.hover td {
		background:#dbecff;
		cursor:pointer;
		}

		
/*----------------------------------------------------------
                          @TIME RANGE
-----------------------------------------------------------*/
.time-range {
	float: right;
	width: 200px;
	}
	.time-range label {float:right; font-weight:bold; color:#333;margin-right:5px;line-height:1.6;}
	.time-range select {float:right; padding:1px 3px;cursor:pointer;}
	
	
/*----------------------------------------------------------
                    @OUTLIERS NOTIFICATIONS
-----------------------------------------------------------*/
#outliers {
	margin:0 0 20px 0;
	padding:15px;
	border:1px solid #e2d0ae;
	background:#fff6df url(/images/outliers-bg.png) repeat-x;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	}
	#outliers li {
		list-style-type:disc;
		padding:2px 0;
		margin:0 15px;
		}
	#outliers a.hide {
		display:block;
		width:14px;
		height:14px;
		float:right;
		background:url(/images/outliers-hide.png) top no-repeat;
		}
		#outliers a.hide:hover {
			background-position:bottom;
			}
	

/*----------------------------------------------------------
                @TEAM SELECTOR for OVERVIEW
-----------------------------------------------------------*/
#group_line {
	height:35px;
	line-height:35px;
	background:#fff url(/images/header.png) center repeat-x ;
	margin:-20px -20px 20px -20px;
	border-bottom:1px solid #babdc1;
	}
	#group_line ul {
		padding:0 0 0 20px;
		}
		#group_line li {
			float:left;
			display:inline;
			}
			#group_line li.label {
				color:#333;
				font-weight:bold;
				margin-right:10px;
				}
			#group_line li a {

				text-shadow:1px 1px #e9e9e9;
				display:block;
				padding:0 15px;
				color:#333;
				}
				#group_line li a:hover {
					background:#adcfff url(/images/group_line-hover.png) top repeat-x;
					}
				#group_line li a:active {
					position:static;
					}
				#group_line li.chosen_group a {
					background:#4576bb url(/images/group_line-active.png) top repeat-x;
					color:#fff;
					text-shadow:none;

					}
	
/*----------------------------------------------------------
                          @FOOTER
-----------------------------------------------------------*/
#footer {
	width:798px;
	height:30px;
	line-height:30px;
	font-size:10px;
	text-shadow:1px 1px #e9e9e9;
	color:#666;
	background:#fff url(/images/footer.png) repeat-x top;
	border:1px solid #999b9e;
	border-top:1px solid #babcc0;
	margin-bottom:10px;
	border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.25);  
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.25); 
	}
	#footer p {
		margin: 0 20px;
		}
		#footer p a {
			color:#666;
			font-weight:bold;
			}
			#footer p a:hover {
				color:#333;
				}
		
/*----------------------------------------------------------
                        @TOP ALERTS
-----------------------------------------------------------*/
.alert {
	padding:10px 12px;
	font-size:24px;
	font-weight:normal;
	text-align:center;
	color:#fff;
	background:#df3b3b url(/images/alert.png) repeat-x top left;
	border-bottom:1px solid #e4e5e6;
	display:none;
	}
	.alert a:link,
	.alert a:visited {
		color:#fff;
		text-decoration:underline;
		}
	div.error {background-color:#df3b3b;}
	div.info {background-color:#618fb9;}
	div.success {background-color:#83b452;}		



/*----------------------------------------------------------
                         @DIALOGS
-----------------------------------------------------------*/
#fade {
	display:none; 
	background:#000;
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%;
	opacity:.40;
	z-index:9;
	_position: absolute; /* IE6 */
	}
.dialog {
	width:400px;
	display:none; 
	background:#fff;
	float:left;
	position:fixed;
	top:48%; 
	left:52%;
	z-index:99;
	-webkit-box-shadow:0px 0px 10px #000;
	-moz-box-shadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	_position: absolute; /* IE6 */
	}
	.dialog h2 {
		height:45px;
		line-height:45px;
		font-size:20px;
		background:#ccc url(/images/header.png) bottom repeat-x;
		border-bottom:1px solid #babcc0;
		text-shadow:1px 1px #fff;
		border-top-right-radius:6px;
		-moz-border-radius-topright:6px;
		-webkit-border-top-right-radius:6px;
		border-top-left-radius:6px;
		-moz-border-radius-topleft:6px;
		-webkit-border-top-left-radius:6px;
		}
	.dialog .inner {
		padding:10px 20px 15px;
		width:auto;
		text-align:left;
		}
		.dialog a {
			color:#000;
			text-decoration:underline;
			}
	.dialog-footer {
		width:100%;
		height:25px;
		line-height:24px;
		font-size:10px;
		font-weight:bold;
		text-shadow:1px 1px #fff;
		color:#666;
		background:#fff url(/images/footer.png) repeat-x top;
		border-top:1px solid #babcc0;
		border-bottom-right-radius:6px;
		-moz-border-radius-bottomright:6px;
		-webkit-border-bottom-right-radius:6px;
		border-bottom-left-radius:6px;
		-moz-border-radius-bottomleft:6px;
		-webkit-border-bottom-left-radius:6px;
		}

	/* Form
	---------------------------------------- */
	.dialog div.why {
		overflow:hidden;
		padding:0 0 0 90px;
		margin:0 0 0 70px;
		}
	.dialog form {
		width:100%;
		padding:15px 0 0 0;
		margin:5px 0 0 0;
		border-top:1px solid #ccc;
		}
	.dialog form div {
		margin:0 0 10px;
		overflow:hidden;
		padding-left:90px;
		margin-left:70px;
		}
		.dialog div.btn{
			text-align:center;
			padding:15px 0 0 0;
			margin:15px 0 0 0;
			border-top:1px solid #ccc;
			}
		.dialog label {
			float:left;
			width:80px; 
			margin-left:-90px;
			font-weight:bold;
			cursor:pointer;
			font-size:14px;
			}
			.dialog li label {
				float:none;
				width:auto;
				margin:0;
				font-weight:normal;
				}
			.dialog form div span {
				display:block;
				width:130px;
				border-radius:6px;
				-moz-border-radius:6px;
				-webkit-border-radius:6px;
				}
				.dialog form div span.date {background:#fff url(/images/date.png) right center no-repeat;}
				.dialog form div span.time-checkin {background:#fff url(/images/time-checkin.png) right center no-repeat;}
				.dialog form div span.time-checkout {background:#fff url(/images/time-checkout.png) right center no-repeat;}
				
					.dialog input.text {
						width:110px;
						height:20px;
						padding:3px 20px 3px 3px;
						border:1px solid #a1a3a6;
						font:14px Arial, Helvetica, sans-serif;
						color:#666;
						background:url(/images/input.png) repeat-x top;
						line-height:1.4;
						border-radius:6px;
						-moz-border-radius:6px;
						-webkit-border-radius:6px;
						}				
						 .dialog input.text:focus {
							border:1px solid #6a6f7b;
							color:#333;
							outline:none;
							}
		.dialog input.button {
			cursor:pointer;
			padding:3px 8px;
			font-size:16px;
			}	
		.dialog li {
			margin:0 0 5px; 
			}
		
		
	/* Check-in
	---------------------------------------- */
	#checkin {width:400px;}
	
	
	/* Settings
	---------------------------------------- */
	#settings form {
		border-top:0;
		padding:0;
		}
		#settings form div {
			padding-left:120px;
			}
			#settings form div.btn {
				padding:15px 0 0 0;
				margin:15px 0 0 0;
				}
			#settings form div label {
				font-size:12px;
				width:120px; 
				}
	
	

/*----------------------------------------------------------
                           @Sergio
-----------------------------------------------------------*/
#user_nav { 
  float: right; 
  font-size: 12px;
  margin-bottom: 30px;
}

/* menu */
#menu a { color:#fff; text-decoration:none; } 
#menu > li {background:#172322; cursor:pointer; float:left; position:relative; 
    padding:0px 10px;} 
#menu > li a:hover {color:#6C6;}

/* submenu */
 
#menu ul { padding:0px; margin:0px; display:inline;} 
#menu li ul { position:absolute; left:-80px; top:-10px; margin-top:45px; width:230px; line-height:16px; 
    background-color:#172322; color:#0395CC; /* for IE */ display:none; z-index:5; border-radius: 25px;} 
#menu li:hover ul { display:block;} 
#menu li ul li{ display:block; margin:5px 15px; padding: 5px 0px; float:left; border-top: dotted 1px #606060; 
    list-style-type:none; } 
#menu li ul li a:hover { color:#6C6; } 


/* form styling */
.input_form p {
	margin: 10px;
}

.input_form input {  
    padding: 5px;  
    border: solid 1px #E5E5E5;  
 	font: normal 13px/100%;
    }

.input_form input[type="submit"] {  
	    cursor: pointer;
		border-radius: 5px;
		margin-left: 10px;
	    }

.input_form label {
	margin-left:5px ;
}


.red-message {
  float: right;
  background-color: #FEE0C6;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; 
  width: 220px;
}

#daily-broadcast {
  float: left;
}





/*----------------------------------------------------------
                           @Rails
-----------------------------------------------------------*/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}



