/**********************************************************/
/*                                                        */
/*      stylesheet: Enkata EntryPoint                     */
/*      author: Ivan Babko (www.IvanBabko.com)            */
/*                                                        */
/**********************************************************/


/*----------------------------------------------------------
                          @RESET
-----------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,
form,fieldset,input,textarea,th,td {margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
ul {list-style:none;}
a:focus {outline:none;}


/*----------------------------------------------------------
                          @GENERAL
-----------------------------------------------------------*/
body {
	background:#c6c9cc url(/images/bg.png);
	font:12px/1.3 Arial, Helvetica, sans-serif;
	color:#333;
	text-align:center;
	}

a {text-decoration:underline;}
a:hover {text-decoration:none;}

.left	{float:left;}
.right {float:right;}
.clear {clear:both;}

#container {
	width:800px;
	margin:20px auto;
	text-align:left;
	}


/*----------------------------------------------------------
                           @LOGIN
-----------------------------------------------------------*/
#login-container {
	width:500px;
	height:300px;
	position:absolute;
	top:42%;
	left:50%;
	margin:-100px 0 0 -250px;
	}
	#login-container img {
		margin:0 auto 15px;
		}

#login{
	width:400px;
	height:260px;
	overflow:hidden;
	background:#e3e5e6 url(/images/login.png) repeat-x top left;
	border:1px solid #999b9e; 
	margin:0 auto;
	text-align:left;
	border-radius:5px;  
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);  
	-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);  
	-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2); 
	}
	#login form {
		padding:10px 30px 30px;
		}
		#login form div {
			margin:15px 0 0;
			}
			#login label {
				display:block;
				font-size:18px;
				color:#666;
				text-shadow:0 1px 0 #fff;
				margin:0 0 3px;
				}
			#login input.text { 
				font:24px Georgia, serif;
				width:330px;
				height:28px;
				padding:5px;
				border:1px solid #a1a3a6;
				color:#222;
				background:#fff url(/images/input.png) repeat-x top;
				}
				#login input.text:focus {
					/*background-color:#fff9ec;*/
					border:1px solid #128edd;
					outline:none;
					}
#login input.button {
  background: #2260dd;
  background: -moz-linear-gradient(0% 100% 90deg, #2463de 0%, #2260dd 50%, #376fe0 50%, #779be9 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #779be9), color-stop(0.5, #376fe0), color-stop(0.5, #2260dd), color-stop(1, #2463de));
  border:0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #2c4d93;
  width: 100px;
  -webkit-background-clip: padding-box;
  cursor:pointer;
  margin:px 0 0;
}

#login input.button:hover {
  background: #1d55c4;
  background: -moz-linear-gradient(0% 100% 90deg, #1d55c4 0%, #1d55c4 50%, #3263c7 50%, #6989cf 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #6989cf), color-stop(0.5, #3263c7), color-stop(0.5, #1d55c4), color-stop(1, #1d55c4));
  -webkit-background-clip: padding-box;
}

#login input.button:active {
  background: #1a4aab;
  background: -moz-radial-gradient(50% 31% 0deg,circle cover, rgba(38, 76, 153, 0.4), rgba(11, 23, 46, 0.4)),-moz-linear-gradient(0% 100% 90deg, #1b4bab 0%, #1a4aab 50%, #2b57ad 50%, #5c78b5 100%);
  background: -webkit-gradient(radial, 50% 20%, 75, 50% 50%, 0, from(rgba(38, 76, 153, 0.4)), to(rgba(11, 23, 46, 0.4))), -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #5c78b5), color-stop(0.5, #2b57ad), color-stop(0.5, #1a4aab), color-stop(1, #1b4bab));
  color: #ddd;
  -webkit-background-clip: padding-box;
}


						
				/*		
				#login input.button {
					cursor:pointer;
					float:left;
					border:0;
					font-size:18px;
					margin:5px 0 0;
					color: #fff;
					padding:7px 15px;
					background:#3cb904 url(/images/button.png) repeat-x;
					border-bottom:1px solid #222;
					position:relative;
					border-radius:6px;
					-moz-border-radius:6px;
					-webkit-border-radius:6px;
					box-shadow:0 1px 3px #999;
					-moz-box-shadow:0 1px 3px #999;
					-webkit-box-shadow:0 1px 3px #999;
					text-shadow:0 -1px 1px #222;
					}
					#login input.button:hover,
					#login input.button:focus {
						background-color:#111; 
						}
					#login input.button:active {
						top:1px; 
						}

					*/
	/* Notifications
	---------------------------------------- */
	.alert {
		padding:10px 12px;
		font-size:24px;
		font-weight:normal;
		text-align:center;
		color:#fff;
		background:#df3b3b url(/images/alert.png) repeat-x top left;
		border-bottom:1px solid #fff;
		display:none;
		}
		.alert a:link,
		.alert a:visited {
			color:#fff;
			text-decoration:underline;
			}
		.error {background-color:#df3b3b;}
		.info {background-color:#618fb9;}
		.success {background-color:#83b452;}

	
/*----------------------------------------------------------
                           @HEADER
-----------------------------------------------------------*/
#header {
	width:100%;
	color:#fff;
	background:#828282;
	/*overflow:hidden;*/
	height:52px;
    line-height:52px;
	position:relative;
	}
	#header h1,
/*	#header ul {
		padding:0 20px 0;
		} */
	#header h1 {
		float:left;
		font-size:32px;
		letter-spacing:-1.3px;
        padding:0 20px 0;
		}
	#header ul {
		float:right;
		}
		#header ul li {
			float:left;
			display:inline;			
			}

		
/*----------------------------------------------------------
                            @MAIN
-----------------------------------------------------------*/
#main {
	background:#fff;
	padding:20px; /*20px 0;*/
	border:1px solid #999;
	}
	.wrap {
		width:100%;
		overflow:hidden;
		}
		

/*----------------------------------------------------------
                        @REPORT LAYOUT
-----------------------------------------------------------*/
	
	/* General stuff
	---------------------------------------- */
	.report {
		position:relative;
		margin:0 0 30px;
		}
		h2 {
			font-size:24px;
			font-weight:normal;
			color:#000;
			letter-spacing:-1px;
			line-height:1;
			margin:0 0 3px;
			}
			.info {
				position:absolute;
				top:0;
				right:0;
				line-height:24px;
			}
	
	/* Today and This Week reports
	---------------------------------------- */
	.box {
		background:#f4f4f4;
		border:1px solid #ccc;
		padding:15px 0 15px 80px;
		}
		.inner {
			width:100%;
			overflow:hidden;
			}
		h3 {
			font-size:26px;
			color:#000;
			line-height:1;
			}
			h3 small {
				font-size:.6em;
				font-weight:normal;
				}
		.progress {
			width:200px;
			height:15px;
			padding:1px;
			margin:3px 0;
			background:#fff;
			border:1px solid #999;
			}
			.progress div {
				width:75%;
				height:100%;
				background:#000;
				}
	
	.today,.this-week {width:366px;}
	.today {float:left;}
	.this-week {float:right;}
	
	/* Daily Stats report
	---------------------------------------- */


/*----------------------------------------------------------
                       @TABLE STYLING
-----------------------------------------------------------*/
table {
	width:100%;
	}
	th,td {
		padding:5px;
		text-align:center;
		}
	tr.alt td,
	tr.alt th {
		background:#f4f4f4;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;		
		}


/*----------------------------------------------------------
                           @Sergio
-----------------------------------------------------------*/
#user_nav { 
  float: right; 
  font-size: 12px;
  margin-bottom: 30px;
}

/* menu */
#menu a { color:#fff; text-decoration:none; } 
#menu > li {background:#172322; cursor:pointer; float:left; position:relative; 
    padding:0px 10px;} 
#menu > li a:hover {color:#6C6;}

/* submenu */
 
#menu ul { padding:0px; margin:0px; display:inline;} 
#menu li ul { position:absolute; left:-80px; top:-10px; margin-top:45px; width:230px; line-height:16px; 
    background-color:#172322; color:#0395CC; /* for IE */ display:none; z-index:5; border-radius: 25px;} 
#menu li:hover ul { display:block;} 
#menu li ul li{ display:block; margin:5px 15px; padding: 5px 0px; float:left; border-top: dotted 1px #606060; 
    list-style-type:none; } 
#menu li ul li a:hover { color:#6C6; } 


/* form styling */
.input_form p {
	margin: 10px;
}

.input_form input {  
    padding: 5px;  
    border: solid 1px #E5E5E5;  
 	font: normal 13px/100%;
    }

.input_form input[type="submit"] {  
	    cursor: pointer;
		border-radius: 5px;
		margin-left: 10px;
	    }

.input_form label {
	margin-left:5px ;
}

#week_id {
  float: right;
}

#daily-bars {
  text-align:center;
}

.green-message {
  float: left;
  background-color: #DCF7DD;
  border: solid 1px #6C6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; 
  width: 470px; 
}

.red-message {
  float: right;
  background-color: #FEE0C6;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; 
  width: 220px;
}

#daily-broadcast {
  float: left;
}

/*----------------------------------------------------------
                           @Rails
-----------------------------------------------------------*/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}



