<div id="edit_wd" class="dialog">
  <h2>Correct Manual Entries <a class="close" href="#"></a></h2>
    <div class="inner">
	<% form_tag '/records/destroy/', :method => :delete do %>
      <%if flash[:correction_error]%>
	   	<span class="alert error"> <span><%= flash[:correction_error]%></span> </span>
      <%end%>
     	<div class="btn">
			<%= submit_tag "Delete Selected", {:class => 'button'} %>
			or <a class="close" href="#">Cancel</a>
		</div>
	<% end %>	
	</div> <!-- end .inner -->
	<div class="dialog-footer"></div>
</div> <!-- end .dialog #settings -->

