<div id="edit_wd" class="dialog">

  <h2>Perform Corrections <a class="close" href="#"></a></h2>
    <div class="inner">

     
	</div> <!-- end .inner -->
	<div class="dialog-footer"></div>
</div> <!-- end .dialog #settings -->

