<div id="settings" class="dialog">
	<h2>Settings</h2>
    <div class="inner">

      <!--Error or Notice about Password Change -->
          <%if flash[:settings_error]%>
              <span class="settings_error"> <%= flash[:settings_error]%> </span>
          <%elsif flash[:settings_notice]%>    
            <span class="settings_notice"> <%= flash[:settings_notice]%> </span>
          <%else%>
          <%end%>

      <form action="/users/update"  method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
			<div>
				<label for="old_password">Old password:</label>
				<input id="old_password" name="old_password" size="30" type="password" class="text" />
			</div>
			<div>
				<label for="new_password">New password:</label>
                <input id="new_password" name="user[password]" size="30" type="password" class="text" />
			</div>
			<div>
				<label for="confirm_new_password">Confirm new password:</label>
				<input id="confirm_new_password" name="user[password_confirmation]" size="30" type="password" class="text" />
			</div>
			<div class="btn">
				<input id="settings_submit" name="settings_submit" type="submit" class="button" value="Submit" />
				or <a class="close" href="#">Cancel</a>
			</div>
		</form> <!-- end form#forgot -->
	</div> <!-- end .inner -->
	<div class="dialog-footer"></div>
</div> <!-- end .dialog #settings -->
