 <h3> Hmm... looks like your forgot to register. Hey - don't your forgot your head as well?  </h3>
    <h2> Use the form below - and listen - don't cheat OK? </h2>
    <% form_for @record do |f| %>
      <%= f.error_messages %>

    <%=   f.label :click_date %>
   <%=    f.text_field :click_date_string %>

   <%=    f.submit "Add Record" %>
 <% end %>

