<% title 'log for your records' %>


<h3>Working days </h3>
<br/>
	<table border="1">
    <tr>
		<th>User</th>
    	<th>Check In Time</th>
		<th>Check Out Time</th>
    </tr>
  <% @logged_homeworks.each do |lwd| %>
	<tr>
   		<td> <%=lwd.login %></td>
    	<td> <%=lwd.check_in %></td>
    	<td><%=lwd.check_out %></td>
	</tr>
  <%end%>
</table>

